<html xmlns:th="https://www.thymeleaf.org"
    layout:decorate="~{www/layout/Main.html}" lang="es">
    <head layout:fragment="extra-head">
        <title>Index</title>
        <link rel="stylesheet" th:href="@{/css/www/index.css}">
    </head>
    <section layout:fragment="contenedor-principal">
        <section id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <section class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{/img/ordenador1.jpg}" class="d-block w-100" alt="Producto 1">
                </div>
                <div class="carousel-item">
                    <img th:src="@{/img/placabase.jpg}" class="d-block w-100" alt="Producto 2">
                </div>
            </section>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
            <section class="container mt-5">
                <h2 class="text-center">Nuestras especialidades</h2>
                <div class="row">
                    <div class="col-md-4">
                        <a href="mantenimiento.html" class="text-decoration-none">
                            <div class="card">
                                <img th:src="@{/img/ordenador1.jpeg}" class="card-img-top" alt="Mantenimiento">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Mantenimiento</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="montaje.html" class="text-decoration-none">
                            <div class="card">
                                <img th:src="@{/img/placabase.jpg}" class="card-img-top" alt="Montaje">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Montaje</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="personalizacion.html" class="text-decoration-none">
                            <div class="card">
                                <img th:src="@{/img/ordenador2.jpg}" class="card-img-top" alt="Personalización">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Personalización</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </section>
    </section>
</html>